Repository fission/fission, pull requests merged in 2022-02, with the labels that each got.

#2292 feature: Basic auth support with fission router
  charts/fission-all/templates/NOTES.txt
  charts/fission-all/templates/_helpers.tpl
  charts/fission-all/templates/router/deployment.yaml
  charts/fission-all/templates/router/secret.yaml
  charts/fission-all/values.yaml
  cmd/fission-cli/app/app.go
  go.mod
  go.sum
  pkg/apis/core/v1/types.go
  pkg/error/httperror.go
  pkg/featureconfig/types.go
  pkg/fission-cli/cmd/function/test.go
  pkg/fission-cli/cmd/token/command.go
  pkg/fission-cli/cmd/token/create.go
  pkg/fission-cli/flag/flag.go
  pkg/fission-cli/flag/key/key.go
  pkg/fission-cli/util/constants.go
  pkg/router/httpTriggers.go
Labels: documentation, ready-to-merge

#2338 [Feature] Force spec apply even if conflicting resources exist with different deployment ID
  pkg/fission-cli/cmd/spec/apply.go
  pkg/fission-cli/cmd/spec/command.go
  pkg/fission-cli/cmd/spec/destroy.go
  pkg/fission-cli/cmd/spec/validate.go
  pkg/fission-cli/flag/flag.go
  pkg/fission-cli/flag/key/key.go
Labels: documentation, area-fission-cli

#2359 Update changelog for 1.16.0-rc1
  CHANGELOG.md
Labels: no-changelog
